@{
    ViewData["Title"] = "About Us";
}

<!--- Meet the team -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Meet The Team</h1>
        </div>
        <hr>
    </div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
    <div class="card-deck">
        <div class="row padding">

                <div class="card col-md-4">
                    <img class="card-img-top" src="~/img/meghla.jfif">
                    <div class="card-body">
                        <h4 class="card-title">Meghla Sarkar</h4>
                        <p class="card-text">
                            I am a Graduate Student pursuing <b>MS</b> in <b>Business Analytics and Information Systems</b> from
                            University of South Florida. I am right now in my second semester and expecting to graduate in Spring 2022.
                            I am a former Software Engineer with about 5 years of experience working in Tata Consultancy Services Ltd.                       
                        </p>

                        <h6>Contributions</h6>
                        <p>I have designed the entire layout for the website and created "Home", "About Us" & "Model" page. Worked on getting data using REST
                        API & implemented CRUD functionality.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.linkedin.com/in/meghla-sarkar/" class="btn btn-outline-secondary">See Profile</a>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src="~/img/umakanth.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Umakanth Sai Balguri</h4>
                        <p class="card-text">
                            I am a Graduate Student pursuing <b>MS</b> in <b>Business Analytics and Information Systems</b> from
                            University of South Florida. I am right now in my second semester and expecting to graduate in Fall 2021.
                            I am a former IT Consultant with about 5 years of experience working for two biggest energy suppliers in Capgemini.                         
                        </p>

                        <h6>Contributions</h6>
                        <p>I have designed the data model, created entity relationship diagram and designed explore page of this web application.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.linkedin.com/in/umakanthbalguri/" class="btn btn-outline-secondary">See Profile</a>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src="~/img/venu.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Venu Gopal Guddati</h4>
                        <p class="card-text">
                            I am a Graduate Student pursuing <b>MS</b> in <b>Business Analytics and Information Systems</b> from
                            University of South Florida. I am right now in my second semester and expecting to graduate in Fall 2022.
                            I am a former Software Engineer with about 3 years of experience in Infosys.
                            I had worked mainly on developing & enhancing the features of e-commerce platform for the major apparel brand.
                        </p>
                        <h6>Contributions</h6>
                        <p>I have implemented data model integration and designed "Get in touch" and "About Us" page for this application.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.linkedin.com/in/venugopalguddati/" class="btn btn-outline-secondary">See Profile</a>
                    </div>
                </div>
        </div>
        <hr>
    </div>
</div>