@{
    ViewData["Title"] = "GetInTouch";
}

<!--- Get In Touch -->

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">NPS Public Health Update</h1>
            <p class="lead text-center">
                <b> Please check with individual parks for specific details about park operations.</b>
            </p>
            <div class="alert alert-success">Stay Safe! Staying Safe in Parks and Recreating Responsibly.</div>
            <div class="alert alert-info">Info! Please check with individual parks for specific details about park operations.</div>
            <div class="alert alert-warning">Warning ! Visitors are required to wear face masks in federal buildings including visitor centers, historic structures, and museums. When outdoors, face masks are required on NPS-administered lands when physical distance cannot be maintained.</div>
            <div class="alert alert-danger">Stay connected with national parks across the country with online resources and virtual experiences.</div>
        </div>
    </div>
</div>

<p id='showData'></p>

<p id='msg'></p>
